.menu{
    width: 100%;
    height: 100px;
    background-color: rgb(79, 0, 124);
}

.opcion_menu{
    color: white;
    margin-left: 20px;
}
.imagen{
padding:5px;

}
.seccion{
    margin-top: 20px;

}
.pie{
    background-color: rgb(141, 141, 141);
}
